{%
    set paths = {
        images:      '/assets/images',
        javascripts: '/assets/javascripts',
        stylesheets: '/assets/stylesheets'
    }
%}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <title>Gulp Starter</title>

        <link rel="stylesheet" href="{{ paths.stylesheets }}/style.css">
    </head>
    <body>
        <div class="Wrapper"></div>

        <script src="{{ paths.javascripts }}/main.js"></script>
    </body>
</html>