doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='apple-mobile-web-app-capable' content='yes')
    title Web Starter
    link(rel='stylesheet' href='styles/main.css')
  body
    script(src='scripts/main.js' defer)
