/* Paths
   ========================================================================== */

$path-base: "";
$path-fonts: "#{$path-base}/fonts";
$path-images: "#{$path-base}/images";

/* Fonts
   ========================================================================== */

$font-serif: $font-stack-georgia;
$font-sans-serif: $font-stack-helvetica;
$font-monospace: $font-stack-consolas;

$font-base: $font-sans-serif;

/* Breakpoints
   ========================================================================== */

$screen-xs-max: 600px;
$screen-sm-min: $screen-xs-max + 1;
$screen-sm-max: 960px;
$screen-md-min: $screen-sm-max + 1;
$screen-md-max: 1280px;
$screen-lg-min: $screen-md-max + 1;
$screen-lg-max: 1600px;
$screen-xl-min: $screen-lg-max + 1;

/// Breakpoints
///
/// @link https://www.google.com/design/spec/layout/responsive-ui.html#responsive-ui-breakpoints
///
/// @type {map}
$breakpoints: (
  xs: "screen and (max-width: #{$screen-xs-max})",
  sm: "screen and (max-width: #{$screen-sm-max})",
  md: "screen and (max-width: #{$screen-md-max})",
  lg: "screen and (max-width: #{$screen-lg-max})",
  xl: "screen and (min-width: #{$screen-xl-min})"
);
