@import 'dependencies';

/* Fonts
   ========================================================================== */

//

/* General
   ========================================================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}

/* Utilities, components
   ========================================================================== */

//