/* Paths
   ========================================================================== */

$path-base: "";
$path-fonts: "#{$path-base}/fonts";
$path-images: "#{$path-base}/images";

/* Fonts
   ========================================================================== */

$font-serif: Georgia, Times, "Times New Roman", serif;
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: Consolas, monaco, monospace;

$font-base: $font-sans-serif;

/* Breakpoints
   ========================================================================== */

$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1920px;

/// Breakpoints
///
/// @link https://material.google.com/layout/responsive-ui.html#responsive-ui-breakpoints
///
/// @type {map}
$breakpoints: (
  sm: "screen and (min-width: #{$screen-sm-min})",
  md: "screen and (max-width: #{$screen-md-min})",
  lg: "screen and (max-width: #{$screen-lg-min})",
  xl: "screen and (min-width: #{$screen-xl-min})"
);
