/* http://www.cssfontstack.com/ */
:root {
  --font-family-serif: Georgia, Times, "Times New Roman", serif;
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-monospace: Consolas, monaco, monospace;
  --font-family-base: var(--font-family-sans-serif);
}
